@import url('https://fonts.googleapis.com/css?family=Railway|PT+Sans|Source+Code+Pro');

body {
    line-height: 1.6;
    font-family: "Open Sans", aria, sans-serif;
    margin: 0;
    font-size: 1rem;
    color: #333333;
    scroll-behavior: smooth;
} 
a{
    color:#444444;
    text-decoration: none;
}
.title{
    font-size: 1.4rem;
    color:rgb(4, 174, 231);     
}
.main-section h2 {
    font-size:1.2rem;
    padding-top:15px;
}
.main-section p {
    padding: 8px 0;
}

footer {
    height: 10vh;
    background-color: #fff;
}

.navbar-left {
    position: fixed;
    bottom: 0;
    top: 0;
    background-color: #fff;
    padding: 1rem;    
    max-width: 28%; 
}

.navbar-left ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
    margin: 0;
    padding: 0;
}
.navbar-left li {
    list-style-type: none;
    padding: .6rem;     
}
.navbar-left a:hover{
    color:#d73a49;
}
.active-link {
    color: #d73a49;
    padding: 0.5rem;
    border-left: 5px solid #d73a49;
}
 

/* navbar left scroll bar */
.navbar-left ul::-webkit-scrollbar {
    width: 10px;
     
}
.navbar-left ul::-webkit-scrollbar-thumb {
    background: rgb(173, 216, 230); 
    border-radius: 10px;
}
.navbar-left ul::-webkit-scrollbar-thumb:hover {
    background: gainsboro; 
}
 



.container {
    background-color: #fff;
    padding-left:25%;
    margin-left:5%;
    padding-right:10%;
    text-align: justify
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: #ffe;
    color:#d73a49;
    overflow-x:auto;
    overflow-y:hidden;
    display: block;
    text-align: left;
    padding-left:30px;
    line-height: 1.7;
    white-space: pre;
}

.highlight {
    color: rgb(4, 174, 231);
    padding:0 5px;
};
.site-footer {
    margin-top: 20px;
    border-top: 2px solid rgb(4, 174, 231);
    text-align: center;
    padding: 10px;
    width: 100%;
}

.see-also {
    text-decoration: none;
    color: #333333;
}
 
.scroll-top-label {
    color:#fff;
    font-weight: bold;
     padding:15px;
    border-radius: 50%;
    background-color:#d73a49;
    color:#fff;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;     
}
.scroll-top-label:hover{
    outline: none;
}
 
.author{
    color:#d73a49;
    font-weight: bold;
}
@media (min-width: 320px) and (max-width: 480px)
  {
    body {
        font-size: 0.9rem;
    }
    .navbar-left{
        max-width: 100%;
    }
    .navbar-left ul{
        height: 35%;
    }
    .navbar-left h1{
        font-size:1.2rem;
    }
    .navbar-left li{
        padding: .5rem 5rem .5rem .5rem;
    }
    .container{
        position: absolute;
        top:45%;
        margin:0 10px;
        padding: 0 10px;
        border-top: 2px solid rgb(4, 174, 231);
    }
    code{
        padding:10px;
        white-space: pre-line;
    }
    .main-section h2{
        font-size:1rem;
    }

}
@media (min-width: 481px) and (max-width: 767px) {

    .container{
        position: absolute;
        top:45%;
        margin:0 10px;
        padding: 0 10px;
        border-top: 2px solid rgb(4, 174, 231);
    }
    .navbar-left{
        max-width: 100%;
    }
    .navbar-left ul{
        height: 35%;
    }
    .navbar-left li{
        padding: .5rem 5rem .5rem .5rem;
    }
    code{
        padding:10px;
        white-space: pre-line;
    }
}
@media (max-width: 320px){
    body {
        font-size: 0.6rem;
    }
    .navbar-left{
        max-width: 100%;
    }
    .navbar-left ul{
        height: 30%;
    }
    .navbar-left h1{
        font-size:1.2rem;
    }
    .navbar-left li{
        padding: .5rem 5rem .5rem .5rem;
    }
    .container{
        position: absolute;
        top:40%;
        margin:0 10px;
        padding: 0 10px;
        border-top: 2px solid rgb(4, 174, 231);
    }
    code{
        padding:10px;
        white-space: pre-line;
    }
}
@media(min-width:767px){
    .container{
        margin-top:5%;

    }
}